{% extends 'base.html' %}

{% block konten %}
    <header>
        <h1><u>FORM BIODATA</u></h1>
    </header>

    <main>
        <form action="{{ url_for('bio' )  }}" method="POST">
            <label for="nama">Nama</label>
            <input type="text" name="nama" id="nama" type="text" required>

            <label for="kelas">Kelas:</label>
            <input type="text" name="kelas" id="kelas" type="number" min="10" max="12" required>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" type="email" required>

            <fieldset>
                <legend>Tempat, Tanggal Lahir</legend>
                <label for="tempat">tempat:</label>
                    <input name="tempat" id="tempat" type="text" required>
                <label for="tanggal">tanggal:</label>
                    <input name="tanggal" id="tanggal" type="date" required>
            </fieldset>
            
            <fieldset>
                <legend>Cita-Cita: </legend>
                <label for="programmer">programmer:</label>
                    <input name="cita" id="programmer" type="radio"  value="programmer">
                <label for="bukanprogrammer">bukanprogrammer:</label>
                    <input name="cita" id="bukanprogrammer" type="radio"  value="programmer">         
            </fieldset>

            <label for="agama"></label>
            <select name="agama" id="agama">
                <option value="islam">ISLAM</option>
                <option value="kristen">KRISTEN</option>
                <option value="katolik">KATOLIK</option>
                <option value="hindu">HINDU</option>
                <option value="buddha">BUDDHA</option>
                <option value="konghucu">KONGHUCU</option>
            </select>

            <label for="Tentang">Tentang :</label>
            <textarea name="Tentang" id="Tentang"></textarea>
            <button type="submit"></button>
        </form>
    </main>
{% endblock %}